@import './common/var.scss';
@import './mixins/mixins.scss';
@import './cell.scss';

.so-field {
  @include b('__label') {
    flex: none;
    margin-right: 10px;
    width: 6em;
  }

  &__left-icon {
    margin-right: 5px;
  }

  &__right-icon {
    margin-left: 5px;
  }

  &__body {
    display: flex;
    align-items: center;
  }

  &__control {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
    color: $text-color;
    line-height: inherit;
    text-align: left;
    background-color: transparent;
    border: 0;
    resize: none;
  }
}
